.app_container {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
}

.bg_image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.3rem 0 7.6rem 7.3rem;
    color: white;
}

.logo {
    max-width: 89.89px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header div {
    display: none;
}

.weather_main_info_container{
    display: flex;
    align-items: center;
}

.weather_main_info_container h1 {
    font-size: 9rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.5rem;
}

.weather_main_info_container .date_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.date_container h2 {
    margin: 0;
    font-size: 3.75rem;
    font-weight: 400;
}

.date_container p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.weather_main_icon {
    color: white;
    font-size: 5rem;
    margin-left: 1.75rem;
    padding-top: 1rem;
}

.right_container {
    /* height: 100%; */
    border-left: 5px solid #FFFFFF24;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.055)),
    linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(12px);

    padding: 2.5rem 7.5rem 0 2.1rem;
    overflow-y: auto;
}

.right_container p {
    font-size: 1.12rem;
    color: white;
}

.input_container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;  
}

.input_container input{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    color: white;
    font-size: 1.25rem;
}

.input_container input::placeholder {
    color: white;
    opacity: 0.7;
}

.search_icon {
    margin-right: 1rem;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
}

.weather_details_text {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
}

.weather_details_list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    padding-bottom: 5.37rem;
    border-bottom: 1px solid white;
}

.weather_details_list h3 {
    font-size: 1.12rem;
    color: white;
    font-weight: 500;
    margin: 0;
}

.weather_detail_line {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.weather_detail_line p {
    margin-top: 0;
    margin-bottom: 0;
}

.weather_detail_line p:first-child {
    margin-right: auto;
}
.weather_detail_line p:nth-child(2) {
    margin-right: 1.6rem;
}

.weather_detail_icon {
    color: white;
    font-size: 1.8rem;
}

/* Weather Forecast List */
.weather_forecast_list {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
}

.weather_forecast_list h3 {
    font-size: 1.12rem;
    color: white;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.weather_forecast_list_item {
    display: flex;
    align-items: center; 
    margin-bottom: 1.25rem;   
}

.weather_forecast_list_item p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    opacity: 0.7;
}

.weather_forecast_list_item p:last-child {
    margin-right: 1rem;
}

.weather_forecast_list_icon {
    padding: 0.37rem;
    font-size: 2.25rem;
    color: white;
    margin-right: 2.56rem;
}

.date_details_container {
    margin-right: auto;
}

.date_details_container p {
    font-size: 1.12rem;
    font-weight: 400;
}

/* Desktop */
@media screen and (min-width: 1028px) {
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .app_container {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }    

    .left_container {
        height: 80%;
        margin: 1.56rem 0 2.75rem 2.43rem;
    }

    .logo {
        max-width: 60px;
        max-height: 31.37px;
    }

    .weather_main_info_container h1 {
        font-size: 7.5rem;
        letter-spacing: 0;
    }
    
    .date_container h2 {
        margin: 0;
        font-size: 3rem;
        font-weight: 400;
    }
    
    .date_container p {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .weather_main_icon {
        color: white;
        font-size: 3.43rem;
        margin-left: 1rem;
        padding-top: 0;
    }

    .header {
        align-items: center;
    }

    .header .input_container {
        display: flex;
        width: 19rem;
        margin-right: 2.43rem;
    }

    .input_container input{
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .search_icon {
        margin-right: 0;
        font-size: 1.5rem;
    }

    .right_container .input_container {
        display: none;
    }

    .right_container {
        border-left: none;
        border-top: 5px solid #FFFFFF24;    
        padding: 3.43rem 12.81rem 0 12.81rem;
    }

    .right_container .weather_details_text {
        margin-top: 1rem;        
        text-align: center;
        font-weight: 300;
    }
    .weather_details_list {
        gap: 2rem;
    }

    .weather_details_list h3 {
        font-size: 1.12rem;
        text-align: center;
        font-weight: 400;
    }

    .weather_details_list p{
        font-size: 1.12rem;
        font-weight: 300;
    }

    .weather_forecast_list h3{
        font-size: 1.12rem;
        text-align: center;
        font-weight: 400;
    }
    
    .weather_forecast_list_item p{
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .weather_forecast_list_item p:last-child {
        font-weight: 400;
    }
    
    .weather_forecast_list_icon {
        margin-right: 1.2rem;
    }
    
    .date_details_container p {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* Mobile */
@media screen and (max-width: 640px) {    
    .app_container {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }    

    .left_container {
        position: relative;
        height: 60%;
        margin: 1.18rem 0 1.8rem 1.4rem;
    }

    .logo {
        max-width: 59px;
        max-height: 30px;
    }

    .weather_main_info_container h1 {
        font-size: 4.5rem;
        letter-spacing: 0;
    }
    
    .weather_main_info_container .date_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
    }
    
    .date_container h2 {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    .date_container p {
        margin: 0;
        font-size: 0.7rem;
        font-weight: 400;
    }
    
    .weather_main_icon {
        color: white;
        font-size: 2.5rem;
        margin-left: 0.5rem;
        padding-top: 0;
    }

    .header {
        align-items: center;
    }

    .header .input_container {
        display: flex;
        max-width: 11rem;
        margin-right: 1rem;
    }

    .input_container input{
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 0.8rem;
        width: 100%;
    }
    
    .search_icon {
        margin-right: 0.5rem;
    }

    .right_container .input_container {
        display: none;
    }

    .right_container {
        border-left: none;
        border-top: 5px solid #FFFFFF24;    
        padding: 3.43rem 2.81rem 0 2.81rem;
    }

    .right_container .weather_details_text {
        margin-top: 1rem;
        text-align: center;
        font-weight: 300;
    }

    .weather_details_list {
        gap: 2rem;
    }

    .weather_details_list h3 {
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
    }

    .weather_details_list p{
        font-size: 1rem;
        font-weight: 300;
    }

    .weather_forecast_list h3{
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
    }
    
    .weather_forecast_list_item p{
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .weather_forecast_list_item p:last-child {
        font-weight: 400;
    }
    
    .weather_forecast_list_icon {
        margin-right: 1.2rem;
    }
    
    .date_details_container p {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* Extra Small Screen */
@media screen and (max-width: 375px) {
    .app_container {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }    

    .left_container {
        position: relative;
        height: 100%;
        margin: 1.18rem 0 1.8rem 1.4rem;
    }

    .logo {
        max-width: 59px;
        max-height: 30px;
    }

    .weather_main_info_container h1 {
        font-size: 4.5rem;
        letter-spacing: 0;
    }
    
    .weather_main_info_container .date_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
    }
    
    .date_container h2 {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    .date_container p {
        margin: 0;
        font-size: 0.7rem;
        font-weight: 400;
    }
    
    .weather_main_icon {
        color: white;
        font-size: 2.5rem;
        margin-left: 0.5rem;
        padding-top: 0;
    }

    .header {
        align-items: center;
    }

    .header .input_container {
        display: flex;
        max-width: 11rem;
        margin-right: 1rem;
    }

    .input_container input{
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 0.8rem;
        width: 100%;
    }
    
    .search_icon {
        margin-right: 0.1rem;        
    }

    .right_container .input_container {
        display: none;
    }

    .right_container {
        border-left: none;
        border-top: 5px solid #FFFFFF24;    
        padding: 3.43rem 2.81rem 0 2.81rem;
    }

    .right_container .weather_details_text {
        margin-top: 1rem;
        text-align: center;
        font-weight: 300;
    }

    .weather_details_list {
        gap: 2rem;
    }

    .weather_details_list h3 {
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
    }

    .weather_details_list p{
        font-size: 1rem;
        font-weight: 300;
    }

    .weather_forecast_list h3{
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
    }
    
    .weather_forecast_list_item p{
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .weather_forecast_list_item p:last-child {
        font-weight: 400;
    }
    
    .weather_forecast_list_icon {
        margin-right: 1.2rem;
    }
    
    .date_details_container p {
        font-size: 1rem;
        font-weight: 400;
    }
}
